.accordion__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.accordion__item {
	display: block;
	margin-bottom: 15px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.accordion__button {
	@include font($primary-font, 16px, 18px, $blue-color);

	font-weight: 400;
	margin: 0;
	width: 290px;
	display: block;
	cursor: pointer;
	padding: 22px 73px 22px 17px;
	border: 2px solid $blue-color;
	border-radius: 12px;
	margin-bottom: 10px;
	text-align: left;
	transition: $smooth;
	position: relative;
	letter-spacing: -0.7px;

	&:hover::before {
		background-color: $blue-color;
	}

	&:hover::after {
		
	}

	&:focus::before,
	&:focus-visible::before {
		background-color: $blue-color;
	}

	&:focus::after,
	&:focus-visible::after {
		
	}

	&:active::before {
		background-color: $white-color;
	}

	&:active::after {
		background-color: $active-color-button;
	}

	&:disabled::before {
		background-color: $disabled-color;
	}

	&:hover::after {
		background-color: rgba(255, 255, 255, 0.7);
	}

	@media (min-width: $tablet-width) {
		@include font($primary-font, 22px, 26px, $blue-color);

	  font-weight: 400;
		width: 678px;
		padding: 32px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 28px, 34px, $blue-color);

	  font-weight: 400;
		width: 1028px;
		padding: 42px;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		background-color: $blue-color;
		width: 40px;
		height: 40px;
		border-radius: 50px;
	  right: 20px;
		top: 30%;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background-color: $white-color;
		mask-image: url("/__spritemap#sprite-plus-view");
		mask-size: 19px 19px;
		mask-position: center;
		mask-repeat: no-repeat;
		top: 30%;
		right: 20px;
		z-index: 1;
	}
}

.active {
	background-color: $blue-color;
	color: $white-color;
	border-radius: 12px 12px 0 0;
	transition: $smooth;
	display: block;

	&::after {
		content: '';
		position: absolute;
		display: block;
		background-color: $white-color;
		width: 40px;
		height: 40px;
		border-radius: 50px;
	  right: 20px;
		top: 30%;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 30px;
		height: 40px;
		border-radius: 50%;
		background-color: $blue-color;
		mask-image: url("/__spritemap#sprite-minus-view");
		mask-size: 19px 19px;
		mask-position: center;
		mask-repeat: no-repeat;
		top: 30%;
		right: 24px;
		z-index: 1;
	}
}

.accordion__content {
	padding: 0 17px 22px 17px;
	margin-bottom: 10px;
	margin-top: -10px;
  display: none;
  overflow: hidden;
	width: 290px;
	background-color: $blue-color;
	border-radius: 0 0 12px 12px;

	@media (min-width: $tablet-width) {
		width: 678px;
		padding: 0 32px 32px 32px;
	}

	@media (min-width: $desktop-width) {
		width: 1028px;
		padding: 0 42px 42px 42px;
	}

	p {
		@include font($primary-font, 16px, 18px, $primary-fon);

	  font-weight: 400;

		@media (min-width: $tablet-width) {
			@include font($primary-font, 16px, 20px, $primary-fon);

	    font-weight: 400;
		}

		@media (min-width: $desktop-width) {
			@include font($primary-font, 16px, 26px, $primary-fon);

	    font-weight: 400;
		}
	}
}

.accordion__content.active {
	display: block;

	
	&:hover::before {
		background-color: $white-color;
	}

	&:hover::after {
		background-color: $blue-color;
	}

	&:focus::before,
	&:focus-visible::before {
		background-color: $white-color;
	}

	&:focus::after,
	&:focus-visible::after {
		
	}

	&:active::before {
		background-color: $blue-color;
	}

	&:active::after {
		background-color: $white-color;
	}

	&::before {
		display: none;
	}

	&::after {
		display: none;
	}
}

.accordion__content:not(active) {
	display: none;
}