.form-form__label {
  @include font($primary-font, 12px, 14px, $primary-fon);

  font-weight: 400;
  margin-bottom: 11px;
  opacity: 0.8;

  &:disabled {
    color: rgba(240, 239, 233, 0.6);
  }

  @media (min-width: $tablet-width) {
    @include font($primary-font, 14px, 20px, $primary-fon);

    font-weight: 400;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    @include font($primary-font, 14px, 14px, $primary-fon);

    font-weight: 400;
    width: 346px;
    margin-bottom: 14px;

    &--select {
      margin-bottom: 12px;
    }
  }
}

.form-form__input-title {
  @include font($primary-font, 12px, 14px, $primary-fon);

  font-weight: 400;
  margin-bottom: 11px;
  opacity: 0.8;

  &:disabled {
    color: rgba(240, 239, 233, 0.6);
  }

  @media (min-width: $tablet-width) {
    @include font($primary-font, 14px, 20px, $primary-fon);

    font-weight: 400;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    @include font($primary-font, 14px, 14px, $primary-fon);

    font-weight: 400;
    width: 346px;
    margin-bottom: 14px;

    &--select {
      margin-bottom: 12px;
    }
  }
}
