.grant {
	min-width: 320px;
	padding: 70px 15px;
	background-color: $blue-color;

	@media (min-width: $tablet-width) {
		min-width: 768px;
		padding: 100px 45px;
	}

	@media (min-width: $desktop-width) {
		min-width: 1440px;
		padding: 120px 206px 120px 100px;
	}
}

.grant__container {
	width: 290px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 678px;
	}

	@media (min-width: $desktop-width) {
		width: 1134px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 138px;
	}
}

.grant__title {
	@include font($primary-font, 20px, 20px, $white-color);

	font-weight: 400;
	margin: 0;
	margin-bottom: 15px;
	width: 290px;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 34px, 50px, $white-color);

	  font-weight: 400;
		margin-bottom: 30px;
		width: 498px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 50px, 50px, $white-color);

	  font-weight: 400;
		margin-bottom: 30px;
	}
}

.grant__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	border: 1px solid $primary-fon;
	border-radius: 15px;
	padding: 25px 26px;
	width: 275px;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width: $tablet-width) {
    width: 305px;
		padding: 31px 24px 61px 26px;
		margin: 0;
	}

	@media (min-width: $desktop-width) {
    width: 498px;
		padding: 31px 26px 31px 26px;
		margin-bottom: 23px;
	}
}

.grant__wrapper {

	p {
		@include font($primary-font, 14px, 20px, $white-color);

	  font-weight: 400;
		margin-bottom: 30px;
		width: 290px;

		@media (min-width: $tablet-width) {
			@include font($primary-font, 16px, 20px, $white-color);
	
			font-weight: 400;
			margin-bottom: 40px;
			width: 498px;
		}
	
		@media (min-width: $desktop-width) {
			@include font($primary-font, 16px, 24px, $white-color);
	
			font-weight: 400;
		}
	}
}

.grant__img {
	border-radius: 18px;
	display: block;
	margin-bottom: 30px;

	@media (min-width: $tablet-width) {
		margin-bottom: 40px;
	}
}

.grant__p {
	@include font($primary-font, 18px, 22px, $white-color);

	font-weight: 400;
	margin: 0 0 25px;
	width: 210px;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 28px, 28px, $white-color);

		font-weight: 400;
		width: 636px;
		margin: 0 0 30px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 32px, 36px, $white-color);

		font-weight: 400;
		width: 493px;
		margin-bottom: 45px;
	}
}

.grant__text {
	@include font($primary-font, 14px, 20px, $primary-fon);

	font-weight: 400;
	width: 223px;
	margin: 0;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 16px, 20px, $primary-fon);

		font-weight: 400;
		width: 237px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 16px, 26px, $primary-fon);

		font-weight: 400;
		width: 426px;
	}
}

.grant__list {
	margin: 0;
	padding: 0;
	width: 290px;

	@media (min-width: $tablet-width) {
		width: 678px;
		display: flex;
		flex-wrap: wrap;
		gap: 25px 48px;
	}

	@media (min-width: $desktop-width) {
		width: 498px;
		display: block;
	}
}

.grant__number {
	@include font($primary-font, 18px, 18px, $white-color);

	font-weight: 500;
	margin: 0;
	text-align: left;
	padding: 7px 15px;
	width: min-content;
	background-color: $blue-color;
	top: -5px;
	left: -18px;
	overflow-wrap: break-word;
	margin-top: -35px;
	margin-left: -40px;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 22px, 22px, $white-color);

	  font-weight: 500;
		letter-spacing: 1px;
		padding: 10px 20px;
		margin-top: -45px;
	  margin-left: -50px;
	}
}
