.page-body {
  @include font($primary-font, 16px, 20px, $primary-color);

  font-weight: 400;
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: 0;
  overflow-x: hidden;
  background-color: #f0efe9;
}
