.reviews {
	width: 320px;
	padding: 50px 15px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 768px;
		padding: 50px 0 57px 45px;
	}

	@media (min-width: $desktop-width) {
		width: 1440px;
		padding: 60px 100px;
	}
}

.reviews__swiper-wrapper {
	display: flex;
  column-gap: 15px;
	width: 290px;

  @media (min-width: $tablet-width) {
		width: 560px;
		column-gap: 30px;
		margin-bottom: 55px;
	}

	@media (min-width: $desktop-width) {
		width: 604px;
		column-gap: 32px;
	}
}

.reviews__wrapper-info {
	@media (min-width: $tablet-width) {
		display: flex;
		column-gap: 65px;
		width: 456px;
		margin-bottom: 27px;
	}

	@media (min-width: $desktop-width) {
		width: 504px;
		margin-bottom: 26px;
		justify-content: space-between;
	}
}

.reviews__title {
	@include font($primary-font, 20px, 20px, $blue-color);

	font-weight: 400;
	margin: 0;
	margin-bottom: 34px;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 34px, 50px, $blue-color);

	  font-weight: 400;
		margin-bottom: 18px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 50px, 50px, $blue-color);

	  font-weight: 400;
		margin-left: 3px;
		margin-bottom: 23px;
	}
}

.reviews__avatar {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	margin-bottom: 12px;

	@media (min-width: $tablet-width) {
		column-gap: 15px;
		margin: 0;
	}

	@media (min-width: $desktop-width) {
		width: max-content;
	}
}

.reviews__wrapper {
  padding: 30px 15px 30px 15px;
	border: 2px solid $blue-color;
	border-radius: 16px;

	@media (min-width: $tablet-width) {
		padding: 50px;
	}

	@media (min-width: $desktop-width) {
		padding: 50px 48px 78px 50px;
	}
}

.reviews__name {
	@include font($primary-font, 14px, 18px, $blue-color);

	font-weight: 400;
	width: 40px;
	margin: 12px 0 0;

	@media (min-width: $tablet-width) {
    @include font($primary-font, 20px, 24px, $blue-color);

	  font-weight: 400;
	  width: 57px;
		margin: 22px 0 0;
  }

  @media (min-width: $desktop-width) {
		@include font($primary-font, 18px, 24px, $blue-color);

		font-weight: 400;
		width: 63px;
		margin: 21px 0 0;
  }
}

.reviews__list-wrapper {
	width: 200px;

	@media (min-width: $tablet-width) {
		width: 229px;
		margin-top: 24px;
	}

	@media (min-width: $desktop-width) {
		margin-top: 26px;
	}
}

.reviews__container-slide {
	overflow: hidden;
}

.reviews__title-wrapper {
	width: 290px; 
	min-height: 30px;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: block;
		min-height: 50px;
  }
}

.reviews__reviews-wrapper {
	width: 52px;
	height: 22px;
	display: block;
}

.reviews__list {
	margin: 0 0 23px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	width: 256px;

	@media (min-width: $tablet-width) {
		width: 256px;
		justify-content: flex-start;
		column-gap: 26px;
	}
}

.reviews__p {
	@include font($primary-font, 12px, 12px, $blue-color);

  font-weight: 400;
	text-transform: uppercase;
	margin: 0 0 3px;

	@media (min-width: $tablet-width) {
		margin-bottom: 10px;
		letter-spacing: 0.12px;
	}

	@media (min-width: $desktop-width) {
		margin-bottom: 7px;
	}
}

.reviews__b {
	@include font($primary-font, 12px, 14px, $primary-color);

	font-weight: 400;
	opacity: 0.9;
	margin: 0;

	&--data {
		width: 67px;
	}

	&--programs {
		width: 108px;
	}

	@media (min-width: $tablet-width) {
		@include font($primary-font, 14px, 20px, $primary-color);

	  font-weight: 400;
		opacity: none;

		&--data {
			width: 78px;
		}
	
		&--programs {
			width: 126px;
		}
	}
}

.reviews__otziv {
	@include font($primary-font, 16px, 18px, $blue-color);

	font-weight: 400;
	width: 256px;
	display: block;
	margin-bottom: 20px;

	@media (min-width: $tablet-width) {
		@include font($primary-font, 20px, 24px, $blue-color);

	  font-weight: 400;
		width: 456px;
		margin-bottom: 24px;
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 24px, 26px, $blue-color);

	  font-weight: 400;
    width: 502px;
		margin-bottom: 25px; 
	}
}

.reviews__otziv-wrapper {
	width: 256px;

	p {
	  @include font($primary-font, 14px, 20px, $primary-color);

	  font-weight: 400;
		margin: 0;
	}

	br {
		display: none;
	}

	@media (min-width: $tablet-width) {
		width: 456px;

		p {
			@include font($primary-font, 16px, 20px, $primary-color);
 
	    font-weight: 400;
		}

		br {
			display: block;
		}
	}

	@media (min-width: $desktop-width) {
		width: 467px;

		p {
			@include font($primary-font, 16px, 26px, $primary-color);
 
	    font-weight: 400;
		}
	}
}

.reviews__swiper-scrollbar {
	display: none;

	@media (min-width: $tablet-width) {
		display: block;
		width: 562px;
	}
}

.reviews__scrollbar-wrapper {
	@media (min-width: $tablet-width) {
		width: 678px;
		display: flex;
		justify-content: space-between;
		transform: translateY(481px);
	}
}

.reviews__button-wrapper {
	width: 52px;
	height: 22px;
	display: flex;
	justify-content: space-between;
}