.select {
  flex-flow: column;
  width: 100%;

  &:hover .select__title {
    color: $primary-color;
    opacity: 1;
  }

  &:hover .select__select-element {
    border-color: $primary-color;
  }

  position: relative;
}

.select__title {
  transition: color 0.3s $smooth, opacity 0.3s $smooth;
}

.select-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.select__options {
  position: absolute;
  background-color: $white-color;
  top: 49px;
  left: -1px;
  list-style-type: none;
  width: calc(100% + 2px);
  margin: 0;
  padding: 0;
  border: solid 1px rgba(72, 72, 72);
  border-radius: 8px;
  max-height: 0;
  border-color: transparent;
  overflow: hidden;
  pointer-events: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s $smooth, max-height 0.3s $smooth, background 0.3s $smooth;

  &--is-open {
    border-color: rgba(72, 72, 72);
    max-height: 176px;
    transform: scaleY(1);
  }
}

.select__option {
  @include font($primary-font, 14px, 14px, $primary-color);

  font-weight: 400;
  min-height: 44px;
  padding: 11px 20px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  transition: color 0.3s $smooth, background 0.3s $smooth;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &--active {
    background-color: $blue-color;
    color: $white-color;
  }

  &:hover:not(.select__option--active) {
    color: $blue-color;
  }
}

.select__option:first-child.select__option--active {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select__option:last-child.select__option--active {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select--on-additional {
  border-color: rgba(255, 255, 255, 0.3);
}

.select--on-additional .select__options {
  background-color: transparent;
  border-color: $white-color;
}

.select--on-additional .select__option--active {
  width: 100%;
}

.select--on-additional:hover .select__select-element {
  border-color: $white-color;
}

.select--on-additional:hover .select__title {
  color: #f0efe9;
}

.select__select-element.select-element--active .select__options--is-open {
  background-color: $white-color;
}

.select__select-element .select__options {
  background-color: transparent;
}
