$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
$primary-font: "Manrope", sans-serif;
$primary-color : #484848;
$white-color: #ffffff;
$blue-color: #316dc2;
$primary-fon: #f0efe9;
$disabled-color: #a9afb7;
$active-color-button: #275699;
$error-color: #ff5e66;
$smooth: cubic-bezier(0.4, 0, 0.4, 1);